@model Mooshack_2.Models.ViewModels.StudentAssignmentViewModel
@{
    ViewBag.Title = "StudentAssignmentPage";
}

<h3>@Model.CourseName</h3>

<div class="table-responsive">
    <table class="table">
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    EndDateTime
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "StudentAssignmentMilestonePage", new { assignmentID = item.id})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDateTime)
                    </td>
                </tr>
            }

        </table>
    </div>


