@model  Mooshack_2.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "StudentAssignmentMilestonePage";
}


<h2>@Model.CourseName/@Model.Title</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Weight
        </th>
        <th>
            Submit solution
        </th>
        <th>
            View submissions
        </th>
    </tr>

    @foreach (var item in Model.Milestones)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)%
            </td>

            <td>
                @Html.ActionLink("Submit", "studentSubmitMilestone", new { milestoneID = item.id })
            </td>
            <td>
                @Html.ActionLink("View My Submissions", "viewStudentSubmissions", new { milestoneID = item.id})
            </td>
        </tr>
    }
</table>

<INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">