@model  Mooshack_2.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "TeacherAssignmentMilestonesPage";
}

<h2>@Model.Title</h2>

<p>
    @Html.ActionLink("Create New Milestone", "CreateMilestone", new { assignmentID = Model.id })
</p>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Weight
        </th>
    </tr>

@foreach (var item in Model.Milestones) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)%
        </td>
    </tr>
}

</table>

<a href="javascript: history.go(-1)" class="btn btn-default">Back</a>
