@model  Mooshack_2.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "Teacher Assignment Milestones Page";
}

<h2>@Model.CourseName/@Model.Title</h2>

<p>
    @Html.ActionLink("Create New Milestone", "CreateMilestone", new { assignmentID = Model.id })
</p>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Weight
        </th>
    </tr>

@foreach (var item in Model.Milestones) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)%
        </td>
        
        <td>
            @Html.ActionLink("Edit", "EditMilestone", new { milestoneID = item.id })
            @Html.ActionLink("Delete", "DeleteMilestone", new { milestoneID = item.id, assignmentReturnID = Model.id }, new { onclick = "return confirm('Are you sure you want to delete this Milestone?')" })
        </td>
        <td>
            @Html.ActionLink("View All Submissions", "viewAllStudentSubmissions", new { milestoneID = item.id })
        </td>
    </tr>
}

</table>


