@model  Mooshack_2.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "Teacher Assignment Milestones Page";
}

<h2>@Model.CourseName / @Model.Title</h2>

<p>
    @Html.ActionLink("Create New Milestone", "CreateMilestone", new { assignmentID = Model.id }, new { @class = "btn btn-primary", @style = "color:white" })
</p>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Weight
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
        <th>
            View all submissions
        </th>
    </tr>

@foreach (var item in Model.Milestones) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)%
        </td>
        <td>
            <a href="@Url.Action("EditMilestone", new { milestoneID = item.id })">
                <span class="glyphicon glyphicon-pencil iconEdit centerButton"></span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("deleteMilestone", new { milestoneID = item.id, assignmentReturnID = Model.id })" onclick="return confirm('Are you sure you want to delete this milestone?')">
                <span class="glyphicon glyphicon-trash iconDelete centerButton"></span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("viewAllStudentSubmissions", new { milestoneID = item.id, sortOrder = "id" })">
                <span class="glyphicon glyphicon-search centerButton"></span>
            </a>
        </td>
    </tr>
}

</table>

<input type="button" value="Back" onclick="history.go(-1);" class="btn btn-primary" style="color:white">
