@model Mooshack_2.Models.ViewModels.ViewSubmissions
@{
    ViewBag.Title = "View All Student Submissions";
}

<h2>Student Submissions</h2>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Submission ID", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "id" }, new { @style = "color:black;" })
        </th>
        <th>
           @Html.ActionLink("Student Name", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "name" }, new { @style = "color:black;" })
        </th>
        <th>
            @Html.ActionLink("Date Submitted", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "date" }, new { @style = "color:black;" })
        </th>
        <th>
            @Html.ActionLink("Status", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "accepted" }, new { @style = "color:black;" })
        </th>
        <th>
            Open
        </th>
        <th>
            Download
        </th>
    </tr>

    @foreach (var item in Model.Submissions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeSubmitted)
            </td>
            <td>
                @if (item.Accepted == true)
                {
                    <span class="glyphicon glyphicon-ok centerButton iconTrue"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove centerButton iconFalse"></span>
                }
            </td>
            <td>
                <a href="@Url.Action("openSubmission", new { currentPath = item.FilePath, target = "_blank" })">
                    <span class="glyphicon glyphicon-folder-open centerButton"></span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("downloadSubmission", new { currentPath = item.FilePath })">
                    <span class="glyphicon glyphicon-download-alt iconDownload centerButton"></span>
                </a>
            </td>
        </tr>
    }
</table>

<input type="button" value="Back" onclick="history.go(-1);" class="btn btn-primary" style="color:white">


