@model Mooshack_2.Models.ViewModels.ViewSubmissions
@{
    ViewBag.Title = "View All Student Submissions";
}

<h2>Student Submissions</h2>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Submission ID", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "id" }, new { @style = "color:black;" })
        </th>
        <th>
           @Html.ActionLink("Student Name", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "name" }, new { @style = "color:black;" })
        </th>
        <th>
            @Html.ActionLink("Date Submitted", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "date" }, new { @style = "color:black;" })
        </th>
        <th>
            @Html.ActionLink("Status", "viewAllStudentSubmissions", new { MilestoneID = Model.MilestoneID, sortOrder = "accepted" }, new { @style = "color:black;" })
        </th>
        <th>
            Download
        </th>
    </tr>

    @foreach (var item in Model.Submissions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeSubmitted)
            </td>
            <td>
                @if (item.Accepted == true)
                {
                    @:Accepted
                }
                else
                {
                    @:False
                }
            </td>
            <td>
                @Html.ActionLink("Open", "openSubmission", new { currentPath = item.FilePath })
                @Html.ActionLink("Download", "downloadSubmission", new { currentPath = item.FilePath })
            </td>


        </tr>
    }
</table>

<INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">


