<!DOCTYPE html>
<html lang="en">
<head>
    @using Mooshack_2.Models

    @model LoginViewModel
    @{
        ViewBag.Title = "Log in";
    }

    @{
        Layout = "";
    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<!--
<h2>@ViewBag.Title.</h2>
-->

<body class="bodyMargin">

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark"><img class="img-portfolio img-responsive logoFrontpage" src="~/Content/Images/Mooshak2.png"></a>       
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!--Setja formið hér-->


       @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
               @Html.AntiForgeryToken()

               @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <section id="services" class="services bg-primary">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h5>@Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), Class = "changeTextBox" })</h5>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
            <!-- /.container -->
        </section>

        <section id="services" class="services bg-primary">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h5>@Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password), Class = "changeTextBox" })</h5>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
            <!-- /.container -->
        </section>

        <section id="services" class="services bg-primary">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2><input type="submit" value="Login" class="btn btn-default" /></h2>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
            <!-- /.container -->
        </section>


                            

             }


                    <!--Enda formið hér-->

                </div>
            </div>
        </div>
    </aside>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>